:root {
  --color-text: #6b6375;
  --color-heading: #08060d;
  --color-bg: #fff;
  --color-error: red;
  --color-border: #ddd;

  --radius-6: 6px;

  --gap-6: 6px;
  --gap-12: 12px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--color-text);
  background: var(--color-bg);

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  font-family: var(--heading);
  font-weight: 500;
  color: var(--color-heading);

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
